html, body {
overflow-x: hidden;
margin: 0;
font-family: 'Open Sans', sans-serif;

}

body {
    background-image: url(photo-1561477158-071455ac60e8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/*This background fix wrapper is to allow the colors of the sections to extend beyond 
the max-width border*/

#background-fix-header, #background-fix-main, #background-fix-footer {
    width: 100%;
    margin: 0;
}
#background-fix-header {
    background-color: transparent;
}

#background-fix-main {
    background-color: transparent;
}

#background-fix-footer {
    background-color: rgb(35,31,32);
}

/*This allows the page content to be centered, and limit the width of the content area*/

#head-container, #main-container, #footer-container { 
	max-width: 760pt; 
    margin: 0 auto; 

}


/*This is the Head-Container components*/

#aca-title {
    grid-area: aca-title;
    align-self: end;
    justify-self: start;
    color: white;
    font-size: 15pt;
}

.logo {
    grid-area: logo;
    height: 64pt;
    width: auto;
    margin-bottom: 010pt;
    align-self: end;
    border-radius: 100%;
    background-color: white;
    box-shadow: -0pt -1.5pt 6pt 5pt white;
}

#navigation {
    grid-area: navigation;
    align-self: end;
    justify-self: end;
    margin-bottom: 12pt;
    color:black;
    font-size: 12pt;
    font-weight: bold;
    
}

.nav-links:link {
    color: white;
    text-decoration: none;
    padding-right: 10pt;
}

.nav-links:visited {
    color:white;
}

.nav-links:hover {
    color: orange;
    text-decoration: underline;
}

#head-container {
    display: grid;
    grid-template-columns: 70pt 284pt 348pt;
    grid-template-rows: 96pt;
    grid-template-areas: 
    "logo aca-title navigation";
    background-color: transparent;
    justify-content: center;
  }


/*This is the Main-Container components*/

#port-link, #blog, #hobbies {
    background-size: cover;
    background-position: cover;
}


.link-heading {
    color: black;
    align-self: center;
    justify-self: center;
    background-color: white;
    padding: 12pt;
    font-size: 24pt;
}

h1 {
    grid-area: name;
    justify-self: center;
    align-self: end;
    text-decoration: underline;
    font-size: 20pt;
    margin-bottom: 0;
    color: white;

}


#student-description {
    grid-area: student-description;
    justify-self: center;
    font-size: 12pt;
    color: white;
    margin: 0;
}

.headshots {
    grid-area: headshots;
    width: auto;
    height: 95%;
}

#history {
    grid-area: article;
    background-color: white;
    padding: 16pt;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 10pt;
}

#port-link {
    grid-area: port-link;
    background-image: url("nikita-kachanovsky-unsplash.jpg");
    display: grid;
    background-color: white;
}

#port-link:hover {
    opacity: .5;
    transition: 1s;
}

address {
    grid-area: address;
    background-color: white;
    align-self: end;
    height: 186.4pt;
    width: 350.4pt;
    font-style: unset;
    font-size: 12pt;
    font-weight: bold;
    display: grid;
}

.adress-links {
    align-self: center;
    text-indent: 20pt
}

.normal-link:link {
    color:black;
    text-decoration: none;
}

.normal-link:visited {
    color:black;
    text-decoration: none;
}


.normal-link:hover {
    color: orange;
    text-decoration: underline;
}

#blog {
    grid-area: blog;
    background-image: url("glenn-carstens-peters-unsplash.jpg");
    display: grid;
}

#blog:hover {
    opacity: 50%;
    transition: 1s;
}

#hobby-container {
    grid-area: hobbies;
    background-image: url("kevin-ku-unsplash.jpg");
    display: grid;
}

.hobby-title {
    color:white;
    text-align: center;
}

/*see more Hobby Container settings below*/

#hobby-container > p {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3pt;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 12.8pt;
}

h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 15pt;
}

#main-container {
    display: grid;
    grid-template-columns: 348pt 348pt;
    grid-template-rows: 50pt 24pt 172pt 176pt 176pt 160pt;
    grid-template-areas: 
    "name name"
    "student-description student-description"
    "headshots article"
    "headshots port-link"
    "headshots blog"
    "address hobbies";
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    overflow: hidden;
    background-color: rgb(85, 85, 85, 0.5);
    justify-content: center;
}

/*This is the hobby-container components*/

.hobby-title {
    grid-area: hobby-title;
}

#hob1 {
    grid-area: voiceover;
}

#hob2 {
    grid-area: reading;
}

#hob3 {
    grid-area: movies;
}

#hob4 {
    grid-area: gaming;
}

#hob5 {
    grid-area: music;
}

#hob6 {
    grid-area: ocd-treatment
}

#hobby-container {
    display: grid;
    grid-template-columns: 174pt 174pt;
    grid-template-rows: 40pt 40pt 40pt 40pt;
    grid-template-areas:
    "hobby-title hobby-title"
    "voiceover reading"
    "movies gaming"
    "music ocd-treatment"
}

/*This is the Footer-Container components*/

#background-fix-footer {
 
}

#footer-container {
    display: grid;
    grid-template-columns: 348pt 348pt;
    grid-template-rows: 80pt;
    grid-template-areas:
    "projects";
    color: white;
    justify-content: center;

}



#projects {
    grid-area: projects;
}



/*Hobbies Image Hover Settings!*/



/*Animation Time!*/

.nav-links:hover {
    animation: bouncy .5s ease;
  } 

  @keyframes bouncy {
    0% { margin-bottom: 0em;}
    50% { margin-top: .1em;}
    100% { margin-bottom: 0em;}   
  }

  /*Pop-up time! See JavaScript for more*/

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


  .popup .popuptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .popup:hover {
      color:orange;
  }