html, body {
overflow-x: hidden;
margin: 0;
font-family: 'Open Sans', sans-serif;
}

/*This background fix wrapper is to allow the colors of the sections to extend beyond 
the max-width border*/

#background-fix-header, #background-fix-main, #background-fix-footer {
    width: 100%;
    margin: 0;
}
#background-fix-header {
    background-color: rgb(255,255,255);
}

#background-fix-main {
    background-color: rgb(227,223,219);
}

#background-fix-footer {
    background-color: rgb(35,31,32);
}

/*This allows the page content to be centered, and limit the width of the content area*/

#head-container, #main-container, #footer-container { 
	max-width: 1080pt; 
    margin: 0 auto; 

}


/*This is the Head-Container components*/

#aca-title {
    grid-area: aca-title;
    align-self: end;
}

#navigation {
    grid-area: navigation;
    align-self: end;
    justify-self: end;
    margin-bottom: 15pt;
}


#head-container {
    display: grid;
    grid-template-columns: 435pt 435pt;
    grid-template-rows: 120pt;
    grid-template-areas: 
    "aca-title navigation";
    background-color: white;
  }


/*This is the Main-Container components*/

#port-link, #blog, #hobbies {
    background-size: cover;
    background-position: cover;
}


.link-heading {
    color: black;
    align-self: center;
    justify-self: center;
    background-color: white;
    padding: 15pt;
    font-size: 30pt;
}

h1 {
    grid-area: name;
    justify-self: center;
    align-self: end;
    text-decoration: underline;
    font-size: 25pt;
    margin-bottom: 0;

}

#student-description {
    grid-area: student-description;
    justify-self: center;
    font-size: 15pt;
}

.headshots {
    grid-area: headshots;
    width: auto;
    height: 95%;
}

#history {
    grid-area: article;
    background-color: white;
    padding: 20pt;
    display: grid;
    justify-items: center;
    align-items: center;
}

#port-link {
    grid-area: port-link;
    background-image: url("nikita-kachanovsky-unsplash.jpg");
    display: grid;
}

address {
    grid-area: address;
    background-color: white;
    align-self: end;
    height: 233pt;
    width: 438pt;
}

#blog {
    grid-area: blog;
    background-image: url("glenn-carstens-peters-unsplash.jpg");
    display: grid;
}

#hobby-container {
    grid-area: hobbies;
    background-image: url("kevin-ku-unsplash.jpg");
    display: grid;

}

.hobby-title {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3pt;
    -webkit-text-stroke-color: black;
    text-align: center;
}

/*see more Hobby Container settings below*/

#hobby-container > p {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3pt;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 16pt;
}

h2 {
    text-align: center;
    margin-bottom: 0;
}

#main-container {
    display: grid;
    grid-template-columns: 435pt 435pt;
    grid-template-rows: 100pt 80pt 215pt 220pt 220pt 200pt;
    grid-template-areas: 
    "name name"
    "student-description student-description"
    "headshots article"
    "headshots port-link"
    "headshots blog"
    "address hobbies";
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

/*This is the hobby-container components*/

.hobby-title {
    grid-area: hobby-title;
}

#hob1 {
    grid-area: voiceover;
}

#hob2 {
    grid-area: reading;
}

#hob3 {
    grid-area: movies;
}

#hob4 {
    grid-area: gaming;
}

#hob5 {
    grid-area: music;
}

#hob6 {
    grid-area: ocd-treatment
}

#hobby-container {
    display: grid;
    grid-template-columns: 217.5pt 217.5pt;
    grid-template-rows: 50pt 50pt 50pt 50pt;
    grid-template-areas:
    "hobby-title hobby-title"
    "voiceover reading"
    "movies gaming"
    "music ocd-treatment"
}

/*This is the Footer-Container components*/

#projects {
    grid-area: projects;
}

#resources {
    grid-area: resources;
}

#footer-container {
    display: grid;
    grid-template-columns: 435pt 435pt;
    grid-template-rows: 100pt;
    grid-template-areas:
    "projects" "resources";
    color: white;
}