body {
    background-color: rgb(249,255,251);
}

/*Header container settings! Includes header (profile pic and name) */

#miyamoto-photo {
    grid-area: headshot;
    display: grid;
}

.shigeru-photo {
    height: auto;
    width: 130pt;
    place-self: center;
    border: 0px solid;
    padding: 0px;
    box-shadow: -15px 15px 0px 1px  white, -15px 15px 0px 6px rgb(170,174,177);
}

#miyamoto-name {
    grid-area: name;
    display: grid
}

h1 {
    align-self: center;
    font-size: 65pt;
    margin-top: 25pt;
    margin-bottom: 0;
    color: rgb(42,10,92);
    margin-inline-start: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

hr {
    margin-left:0;
    background-color:rgb(170,174,177);
    height: 3px;
    border: none;
    margin-inline-start: 5%;
}

#name-line {
    width:100%;
}

.container-top {
    display:grid;

grid-template-columns: 180pt 400pt;
grid-template-rows: 125pt 125pt;
grid-template-areas: 
    "headshot name"
    "headshot name";
}

/* Main container settings! Includes job title, description, address (see sub container .contact!) and work history */

#job-title {
    grid-area: job-title;
    display: grid;
}

h2 {
    align-self: center;
    font-size: 20pt;
    margin-inline-start: 6%;
    margin-top: 0;
    color: rgb(42,10,92);
    font-family: 'Courier Prime', monospace;
    letter-spacing: 0.1em;
}

h3 { 
    color: rgb(42,10,92);
    font-family: 'Courier Prime', monospace;
    font-size: 20pt;
    letter-spacing: 0.1em;
    
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    margin-bottom: 0;
}

article {
    grid-area: article;
    display: grid;
    color: rgb(42,10,92)
}

.description {
    align-self: center;
    margin-inline-start: 5%;
    font-family: 'Courier Prime', monospace;
    font-size: 12pt;
}

.contact {
    justify-self: center;
    
}

.history {
    grid-area: history;
    margin-inline-start: 5%;
}

.history-line {
    width: 85%;
    margin-inline-start: 0;
}

address {
    grid-area: address;
    background-image: linear-gradient(rgb(92,84,202), rgb(72,153,210));
}

.container-main {
    display: grid;

    grid-template-columns: 180pt 400pt;
    grid-template-rows: 100pt repeat(5, 135pt);

    grid-template-areas: 
        "job-title article"
        "address history"
        "address history"
        "address history"
        "address history"
        "address history"
}

/* Address container settings! includes "Contact Info" (h4), and contact info + icons */

h4 {
    text-align: center;
    font-size: 20pt;
    grid-area: contact-info;
    color: white;
    font-style: normal;
    font-weight: normal;
    align-self: end;
    margin-bottom: 0;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 00.1em;
}

#contact-line {
    width: 85%;
    margin-top: 0;
    grid-area: contact-line;
    align-self: center;

}

#phone {
    grid-area: phone;
}

#location {
    grid-area: location
}

#email {

    grid-area: email
}

#linked-in {
    grid-area: linked-in
}

.info {
    text-align: center;
    color: white;
    font-style: normal;
    align-self: start;
    font-family:'Roboto Mono', monospace;
    font-size: 10pt;
}

i {
    color: white;
    margin-bottom: 10pt;
}

.job-description {
    font-family: 'Courier Prime', monospace;
    font-size: 11pt;
}

.job-dates {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin-top: 0;
}

.address-container {
    display: grid;

    grid-template-columns: 180pt;
    grid-template-rows: 110pt 40pt 70pt 100pt repeat(3, 90pt);
    grid-template-areas:
        "contact-info"
        "contact-line"
        "phone"
        "location"
        "email"
        "linked-in"

}