body {
    max-width: 576pt;
    margin: 0 auto;
}

/*Header container settings! Includes header (profile pic and name) */

header {
    display: grid;
}

#miyamoto-photo {
    grid-area: headshot;
    display: grid;
}

.shigeru-photo {
    height: auto;
    width: 130pt;
    place-self: center;
    border: 0px solid;
    padding: 0px;
    box-shadow: -15px 15px 0px 1px  white, -15px 15px 0px 6px rgb(170,174,177);
}

#miyamoto-name {
    grid-area: name;
    display: grid;
    margin-bottom: 0;
}

h1 {
    align-self: center;
    font-size: 60pt;
    margin-top: 25pt;
    margin-bottom: 0;
    color: rgb(42,10,92);
    margin-inline-start: 5%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: bolder;
    line-height: 150%;
}

hr {
    margin-left:0;
    background-color:rgb(170,174,177);
    height: 3px;
    border: none;
    margin-inline-start: 5%;
}

#name-line {
    width:93%;
}

.container-top {
    display:grid;
    background-color: rgb(249,255,251);
    grid-template-columns: 170pt 406pt;
    grid-template-rows: 125pt 125pt;
    grid-template-areas: 
        "headshot name"
        "headshot name";
}

/* Main container settings! Includes job title, description, address 
(see sub container .address-container!) and work history */

#job-title {
    grid-area: job-title;
    display: grid;
}

h2 {
    align-self: center;
    font-size: 20pt;
    margin-inline-start: 6%;
    margin-top: 0;
    color: rgb(42,10,92);
    font-family: 'Courier Prime', monospace;
    letter-spacing: 0.1em;
}

h3 { 
    color: rgb(42,10,92);
    font-family: 'Courier Prime', monospace;
    font-size: 17pt;
    letter-spacing: 0.1em;
    margin-top: 30pt;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    margin-bottom: 0;
    color: rgb(117,122,118);
}

article {
    grid-area: article;
    display: grid;
    color: rgb(42,10,92)
}

.description {
    align-self: center;
    margin-inline-start: 5%;
    font-family: 'Courier Prime', monospace;
    font-size: 12pt;
}

.contact {
    justify-self: center;
    
}

#expertise {
    grid-area: expertise;
    margin-inline-start: 5%;
    margin-right: 40pt;
}

#professional-history {
    grid-area: professional-history;
    margin-inline-start: 5%;
    margin-right: 40pt;
}

#educational-history {
    grid-area: educational-history;
    margin-inline-start: 5%;
    margin-right: 40pt;
}

.history-line {
    width: 100%;
    margin-inline-start: 0;
}

.job-description {
    font-family: 'Courier Prime', monospace;
    font-size: 11pt;
    color: rgb(117,122,118);
}

.job-dates {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin-top: 0;
    color: rgb(117,122,118);
}

address {
    grid-area: address;
    background-image: linear-gradient(rgb(92,84,202), rgb(72,153,210));
}

.container-main {
    display: grid;
    background-color: rgb(249,255,251);
    grid-template-columns: 170pt 406pt;
    grid-template-rows: 100pt repeat(3, 135pt) 75pt 200pt;
    grid-template-areas: 
        "job-title article"
        "address expertise"
        "address professional-history"
        "address professional-history"
        "address professional-history"
        "address educational-history"
}

/* Address container settings! includes "Contact Info" (h4), and contact info + icons */

h4 {
    text-align: center;
    font-size: 16pt;
    grid-area: contact-info;
    color: white;
    font-style: normal;
    font-weight: normal;
    align-self: end;
    margin-bottom: 0;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 00.2em;
}

#contact-line {
    width: 85%;
    margin-top: 0;
    grid-area: contact-line;
    align-self: center;

}

#phone {
    grid-area: phone;
}

#location {
    grid-area: location
}

#email {

    grid-area: email
}

#linked-in {
    grid-area: linked-in
}

.info {
    text-align: center;
    color: white;
    font-style: normal;
    align-self: start;
    font-family:'Roboto Mono', monospace;
    font-size: 10pt;
}

i {
    color: white;
    margin-bottom: 10pt;
}

.address-container {
    display: grid;

    grid-template-columns: 170pt;
    grid-template-rows: 110pt 40pt 80pt repeat(2, 120pt) repeat(2, 100pt);
    grid-template-areas:
        "contact-info"
        "contact-line"
        "phone"
        "location"
        "email"
        "linked-in"

}

/*This is where we work on the reactive website part!*/

@media (max-width: 576pt) {
    body {
        min-width: 100pt;
    }


    .container-top {
        grid-template-columns: 500pt;
        grid-template-areas:
        "headshot"
        "headshot"
        "name"
        "name";
    }

    .container-main {
        grid-template-columns: 500pt;
        grid-template-rows: 100pt 100pt 100pt repeat(2, 175pt) 200pt  600pt;
        grid-template-areas:
        "job-title"
        "article"
        "expertise"
        "professional-history"
        "professional-history"
        "educational-history"
        "address";
    }

    .address-container {
        grid-template-columns: 500pt;
        grid-template-rows: repeat(6, 100pt);
        grid-template-areas:
        "contact-info"
        "contact-line"
        "phone"
        "location"
        "email"
        "linked-in"
    }

    h1 {
        text-align: center;
    }

    #job-title {
        text-align: center;
    }
}