body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(photo-1561477158-071455ac60e8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;

  }
  /* What kind of selector is this? ANSWER: a class selector! */
  .logo {
    width: 150px;
    height: 150px;
    margin: 3% 3%;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0px -3px 6pt 7pt white;
  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 95%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  /* This is an element within an element selector */
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15% auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 3px solid white;
    text-decoration: none;
    white-space: nowrap;
  }

  nav > a:hover {
    color: orange;
    text-decoration: underline;
  }

  .has-border {
    border-radius: 25pt fixed;
    border: 3px solid #0795C3;
    background: white;
    padding: 12px;
  }

  nav {
    display: flex;
    width: 100%;
    padding-right: 2%;
    justify-content: flex-end;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 200pt;
    height: 300pt;
    border-radius: 50%;
    margin: 1% auto;
    grid-column: 2/3;
  }

  h1 {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3px;
    -webkit-text-stroke-color: black;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 3px solid orange;;
  }

  h2 {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3px;
    -webkit-text-stroke-color: black;
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }

  h3 {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3px;
    -webkit-text-stroke-color: black;
    grid-column: 2/3;
    margin: 3% auto;
  }

  p {
    grid-column: 2/3;
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3px;
    -webkit-text-stroke-color: black;
    margin: 3% auto;
    font-size: large;

  }

  .small-text {
    grid-column: 2/3;
    color: orange;
    font-size: 10px;
    margin: 3% auto;
  }

  .button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70% auto;
    height: 10% auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    border-radius: 50px;
    border: 3px solid #0795C3;
    background: whitesmoke;
    padding: 5%;
    text-align: center;
    color: black;
    letter-spacing: 5pt;
    font-style: italic;
    margin-bottom: 0;
  }

  .button:hover {
    color: orange;
    transition: 0.5s ease;
  }

  .normal-link:visited {
    color: orange;
  }

  ul {
    grid-column: 2/3;
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3px;
    -webkit-text-stroke-color: black;
    margin: 3% auto;
    font-size: large;
    list-style: none;
  }

  ul > a:link {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3px;
    -webkit-text-stroke-color: black;
  }

  ul > a:visited {
    color:black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-witdth: 3px;
    -webkit-text-stroke-color: black;
  }

  li {
    margin: 10px 0;
  }

  /*Animation fun!*/

  .button:hover {
    animation: bouncy .5s ease;
  } 

  @keyframes bouncy {
    0% { margin-bottom: 0em;}
    50% { margin-top: .1em;}
    100% { margin-bottom: 0em;}   
  }